<div class="container">
  <label class="heading"></label>

  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <span class="nav-link active city" data-toggle="pill" (click)="cityDetails('Delhi')">Delhi</span>
    </li>
    <li class="nav-item">
      <span class="nav-link city" data-toggle="pill" (click)="cityDetails('Mumbai')">Mumbai</span>
    </li>
    <li class="nav-item">
      <span class="nav-link city" data-toggle="pill" (click)="cityDetails('London')">London</span>
    </li>
    <li class="nav-item">
      <span class="nav-link city" data-toggle="pill" (click)="cityDetails('Arizona')">Arizona</span>
    </li>
    <li class="nav-item">
      <span class="nav-link city" data-toggle="pill" (click)="cityDetails('Sydney')">Sydney</span>
    </li>
    <li class="nav-item">
      <div class="input-group">
        <input class="form-control" [(ngModel)]="location" placeholder="Enter other location" />
        <span class="location-btn input-group-addon" (click)="onSubmit(location)"><span class="location-txt">Submit</span></span>
      </div>
    </li>
  </ul>
    <div class="weather-heading">
      <div *ngIf="errorMessage" class="weather-details-sub">{{errorMessage}}</div>
      <div *ngIf="loader" class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <h2 class="weather-details-sub">{{weatherForecastData?.city?.name}}</h2>
      <span class="day-heading">{{(weatherForecastData?.list[0]?.dt)*1000 | date: 'fullDate'}}</span>
        <h1 class="weather-temp">{{weatherForecastData?.list[0]?.main?.temp}}°C</h1>
        <h3 class="weather-desc">{{weatherForecastData?.list[0]?.weather[0]?.main}}</h3>
        <img class="weather-icon" src="./assets/{{weatherForecastData?.list[0]?.weather[0]?.main}}.svg">
        <div class="weather-details">
        <div>
          <label class="left-align">
            <div class="weather-details-sub">Sun Rise
            </div>
            <div>{{sunRise*1000 | date: 'shortTime'}}</div>
          </label>
          <label class="right-align">
            <div class="weather-details-sub">Sun Set
            </div>
            <div>{{sunSet*1000 | date: 'shortTime'}}</div>
          </label>
        </div>
        <div class="weather-row">
          <label class="left-align">
            <div class="weather-details-sub">Humidity
            </div>
            <div>{{weatherForecastData?.list[0]?.main?.humidity}} %</div>
          </label>
          <label class="right-align">
            <div class="weather-details-sub">Wind
            </div>
            <div>{{weatherForecastData?.list[0]?.wind?.speed}} km/h</div>
          </label>
        </div>
    </div>
    <label class="weather-details-sub">The sea level in the next 5 days at 9:00 AM (m MSL)</label>
    <div #container></div>
  </div>
</div>